pymongo
fastapi
pydantic
virtualenv
uvicorn
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
mongoengine
pyotp
python-dotenv==0.17.1  # Specify the version here
passlib
uuid
pandas
jose
dotenv
smtplib
random
