.card{
    /* padding: 10px; */
    height: 35%;
    width: 50%;
    
}
.card_middle{
    height: 35%;
    width: 50%;
    text-align: right;
}
.c0{
    /* margin-left: 20px;
    margin-right: 20px; */
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5em;
    /* margin-top: 30px; */
    width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
}

.c1{
    /* margin-right: 20px;  */
    display: flex;
    width: 100%;
    gap: 5em;
    padding-top: 6em;
    padding-bottom: 6em;
    align-items: center;
    justify-content: center;
    /* transform: translateY(40%);
    transition: all 1s ease-out; */
}
.c2{
     /* margin-left: -60px;  */
    /* margin-right: 20px; */ 
    display: flex;
    width: 100%;
    padding-top: 6em;
    gap: 5em;
    /* padding-top: 3em; */
    padding-bottom: 6em;
    align-items: center;
    justify-content: center;
}
.title{
    margin-bottom: 15px;
    font-size: 5em;
}
.des{
    text-align: left;
    font-size: 30px;
}

.des_middle{
        text-align: right;
        font-size: 30px;
    }

.h1_span{
    color:  #0178ff;
    /* font-size: 1.5em; */
}


