.contact {
    display: flex;
    justify-content: center;
    padding-top: 4.5em;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.base {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
.parent input{
    width: 25em;
    padding: 1em;
    font-size: 1.2em;
    background-color: black;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;

}
.parent textarea{
    width: 21.5em;
    height: 10em;
    padding: 1em;
    font-size: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
                Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    resize: none;         
    outline: none;   
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    overflow-y: hidden;
}
.parent button{
    width: 25em;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(0, 119, 255);
}
.parent button:hover{
    transition: 0.5s ease-in-out;
    color: white;
    background-color: rgba(0, 64, 255, 0.648);
}
