.menu{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1em;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    gap: 5em;
}
.welcome{
    display: flex;
    align-items: center;
    gap: 1em;
}
.welcome h1{
    font-size: 3em;
    color: white;
}
.welcome h2 {
    font-size: 3em;
    color: #005eff;
}
.report {
    padding-left: 5em;
    padding-right: 5em;
    padding: 0.5em;
    background: #ae001d;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.sure{
    display: flex;
    align-items: center;
    gap: 1em;
}
.sure h3{
    font-weight: normal;
    font-size: 1.2em;
    color: #ffffffd2;
}

.report:hover {
    cursor: pointer;
    background: #c20020;

}
.sureButton{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.choose{
    background: none;
    border: 2px solid #ffffffc7;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
    outline: none;
    color: #ffffffc7;
    border-radius: 5px;
    cursor: pointer;
}

.choose:hover{
    border: 2px solid #c20020;
    background-color: #c20020;
    color: white;
}