.HeroRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HeroRight h2{
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 2em;
}

.HeroRight h2:hover {
    cursor: pointer;
    color: rgb(190, 190, 190);
}