.res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sure {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
}

.sure h3 {
    font-weight: normal;
    font-size: 1em;
    color: #ffffffd2;
}

.sureButton {
    display: flex;
    align-items: center;
    font-size: 0.4em;
}

.choose {
    background: none;
    border: 2px solid #ffffffc7;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    outline: none;
    color: #ffffffc7;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.choose:hover {
    background-color: #c20020;
    color: white;
}

.container{
    padding: 2em;
    display: flex;
    align-items: center;
    gap: 4em;
    border: none;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.042);
    border-radius: 6px;

}

.container div p{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;

}

.beforeLoading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}

.beforeLoading h1{
    font-size: 3.3em;
    color: #005eff;
}

.beforeLoading h2{
    font-weight: normal;
    font-size: 1.5em;
}

.beforeLoading button{
    font-size: 1.2em;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17em;
    padding: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 6px;
    margin-top: 1em;
    outline: none;
    border: none;
    background-color: #002fff;
    color: white;
    gap:0.5em;
    cursor: pointer;
}
.beforeLoading button:hover{
    background-color:#005eff;
}
.image{
    margin-bottom: 1em;
}

.cardHolder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.cardHolder button{
    font-size: 2.5em;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.cardHolder button:disabled{
    color: #ffffff8c;
}

.res{
    justify-content: space-between;
}

.repHeading div{
    display:  flex;
    align-items: center;
    gap: 1.5em;
}

.res h1 button{
    color: grey;
    display:  flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    background: none;
    outline: none;
    border: none;
}

.res h1 button:hover{
    color:  white;
    cursor: pointer;
}

.repHeading{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

.repHeading h3{
    background-color: blue;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 6px;
    font-size: 1.2em;
}

.repHeading button{
    padding-left: 5em;
        padding-right: 5em;
        padding: 0.5em;
        background: #ae001d;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
}

.repHeading button:hover{

    cursor: pointer;
        background: #c20020;
}
.cleft div{
    display: felx;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5em;
        padding-bottom: 0.5em;
}

.cright div {
    display: felx;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.cright div h3{
    background-color: #002fff;
    padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 6px;
        font-size: 1em;
        justify-content: center;
        width: fit-content;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
}

.cleft div h3 {
    background-color: #002fff;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 6px;
    font-size: 1em;
    justify-content: center;
    width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}